/* referring source: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
/* referring source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card */
p, div {
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

h2 {
    font-size: 25px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 15px;
}

#skip a{
    position: relative;
    bottom: 25px;
}

#skip a:focus {
    top: 0;
    border: 2px solid darkblue;
    border-radius: 2px;
}

*:focus {
    border: 2px solid darkblue;
    border-radius: 2px;
}

header {
    background-attachment: fixed; /* Parallax effect */     
    background-position: bottom;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: white;
    background-color: #575757;
    height: 400px;                /* Parallax effect */
  
    background-image: url("../images/night.jpg");
}

header > div {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 400px;
    padding-left: 15px;
}

.topnav {
    overflow: hidden;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none; 
    padding: 0 10px 0 10px;
    background-color: black;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a:hover {background-color: rgba(255, 255, 255, 0.452);}
.topnav a.active {background-color: rgba(124, 122, 122, 0.336);}
.topnav a.icon {
    position: absolute;
    right: 0;
    top: 0;
}

/* Hide the links inside the navigation menu (except for home) */
.topnav a:nth-child(2), .topnav a:nth-child(3), .topnav a:nth-child(1), .topnav a:nth-child(5) {display: none;}
.topnav.responsive {position: relative;}

.topnav.responsive a {
float: none;
display: block;
text-align: left;
transition: 0.5s;
}
/* Style the hamburger menu */
.topnav .icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

@keyframes example {
    from {color: white;
    }
    to {color: black;}
}

#main {
    padding: 30px 0;
    margin-bottom: 15px;
    animation-name: example;
    animation-duration: 1.2s;
}

.activities {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
}

.description {
    padding: 30px;
    margin: auto;
    transition: 0.5s;
}

.description:hover {
    background-color: rgba(238, 232, 232, 0.8);
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

img {width: 300px; 
    height: 300px;}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {transform: rotateY(180deg);}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back {transform: rotateY(180deg);}

@media screen and (min-width: 800px) {
    .topnav {
        position: absolute;
        right: 0;
        background-color: rgba(0, 0, 0, 0.144);
    }

    .topnav a, .topnav a:nth-child(2), .topnav a:nth-child(3), .topnav a:nth-child(1), .topnav a:nth-child(5){
        display: inline-block;
        text-align: center;
        font-size: 100%;
        color: white;
    }

    .topnav a.icon {
        display: none;
    }

    .topnav a:hover{
        background-color: rgba(248, 248, 248, 0.247);
        color: white;
        transition: 0.5s;
    }

    #main {
        padding: 30px;
    }
}